<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 基础设置-->
	<bean id="userDao" class="cn.it.bos.dao.impl.user.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="standardDao" class="cn.it.bos.dao.impl.bc.StandardDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="staffDao" class="cn.it.bos.dao.impl.bc.StaffDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="regionDao" class="cn.it.bos.dao.impl.bc.RegionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="subareaDao" class="cn.it.bos.dao.impl.bc.SubareaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="decidedZoneDao" class="cn.it.bos.dao.impl.bc.DecidedZoneDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="noticeBillDao" class="cn.it.bos.dao.impl.qp.NoticeBillDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="workBillDao" class="cn.it.bos.dao.impl.qp.WorkBillDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="workOrderManageDao" class="cn.it.bos.dao.impl.qp.WorkOrderManageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>


</beans>
